# Logs
logs
*.log
secrets\.yaml
esphomeyaml
*.pid
*.xml
*.csr
*.crt
*.key
*.html
*.pyc
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.backup
*.google.token
.google.token
.spotify-token-cache
.*
.storage
.cloud
.git
OZW_Log.txt
home-assistant.env
home-assistant.*
home-assistant.log
home-assistant_v2.db
home-assistant_v2_old.db
lib
deps
tts
www
secrets.yaml
known_devices.yaml
pyozw.sqlite

!/.gitignore
core
# Python cache
__pycache__
.config_entries.json
